<h1>Add Candidate</h1>

<form action="/candidates" method="POST">
    <input name="first_name" placeholder="First Name" required><br><br>
    <input name="last_name" placeholder="Last Name" required><br><br>
    <input name="email" placeholder="Email"><br><br>
    <input name="phone" placeholder="Phone"><br><br>
    <input name="trade" placeholder="Trade"><br><br>
    <textarea name="notes" placeholder="Notes"></textarea><br><br>

    <button type="submit">Create</button>
</form>

<br>
<a href="/candidates">Back</a>